:root {
    color-scheme: light dark;
    --width: 600px;
    --component-padding: 20px;
    --bg: light-dark(white, #121415);
    --secondary-bg: light-dark(#eee, #2d2d2d);
    --primary: light-dark(#007bff, #78bef8);
    --text-color: light-dark(#444,#e1dfdc);
    --code-literal: light-dark(#484, #f79);

    /*  mataroa colors  */
    --link-color: light-dark(#1175e2, #70b3ff);
    --ascent-color: #006cdf;
    --dark-grey-color: light-dark(#757575, #78828a);
    --light-grey-color: light-dark(#eff1f5,#353535);
    --airy-grey-color: light-dark(#fafafa, #2b2b2b);
    --green-color: light-dark(rgb(32, 172, 85),rgb(51, 223, 114));
    --lighter-green-color: light-dark(rgb(38, 189, 96, 0.05), rgb(51, 223, 114, 0.05));
    --red-color: light-dark(rgb(255, 0, 0), rgb(255, 31, 31));
    --lighter-red-color: light-dark(rgb(255, 0, 0, 0.05),rgb(255, 31, 31, 0.1));
    --purple-color: light-dark(#cd1ecd,#dd47ec);

    --alert-success-bg: #d4edda;
    --alert-success-color: #155724;
}

button,
input,
optgroup,
select,
textarea {
    /* fix font styles in all browsers */
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    /* remove margin in Firefox and Safari */
    margin: 0;
}

button,
select {
    /* remove inheritance of text transform in Edge and Firefox */
    text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    /* fix inability to style clickable types in iOS and Safari */
    -webkit-appearance: button;
}

aside[class='messages'] {
    margin-top: var(--component-padding);
    & div {
          padding: .75rem 1.25rem;
    }
    & .alert-success {
        background-color: var(--alert-success-bg);
        color: var(--alert-success-color);
        border: 1px solid var(--alert-success-color);
    }
}
.alert-error {
    color: var(--red-color);
}

.type-delete {
    color: var(--red-color) !important;
}

.type-danger {
    background: var(--red-color) !important;
    border-color: var(--red-color) !important;
}

input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
textarea {
    display: block;
    border: 1px solid var(--dark-grey-color);
    box-sizing: border-box;
    width: 34rem;
    background: var(--light-grey-color);
    color: var(--text-color);
}
@media (max-width: 34rem) {
    input[type="text"],
    input[type="url"],
    input[type="email"],
    input[type="password"],
    textarea {
        width: 100%;
    }
}

input[type="submit"] {
    cursor: pointer;
    background: var(--ascent-color);
    color: #fff;
    border: 1px solid var(--link-color);
    padding: 8px 24px;
}

input[type="submit"]:hover,
input[type="submit"]:active {
    background: var(--link-color);
}

input[type="submit"]:disabled {
    pointer-events: none;
    background: var(--ascent-color);
}

@media (prefers-color-scheme: dark) {
    input[type="submit"] {
        border: 1px solid var(--link-color);
    }
}

.form-error {
    color: var(--red-color);
}

.pages-generic-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
    margin-top: 16px;
}

@media (max-width: 490px) {
  .pages-generic-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 340px) {
  .pages-generic-grid {
    grid-template-columns: 1fr;
  }
}

/* images */
.images-grid {
    max-width: 100%;
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(var(--width) / 2), 1fr));
    /* sum with 2px to account for the border */
    grid-template-rows: calc(var(--width) / 2 + 2px);
}

.images-grid-item {
    display: flex;
    justify-content: center;
    border: 1px solid var(--light-grey-color);
}

.images-grid-item img {
    max-width: calc(var(--width) / 2);
    max-height: calc(var(--width) / 2);
    object-fit: contain;
}

/* image detail */
.images-item {
    max-width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
}

.images-item img {
    max-width: 100%;
    max-height: 100vh;
}

.images-item-byline {
    color: var(--dark-grey-color);
}

/*!* analytics *!*/
.analytics-chart {
    background: var(--light-grey-color);
    line-height: 0;
}

svg .analytics-chart-bar {
    fill: var(--link-color);
}

svg .analytics-chart-bar:hover {
    fill: var(--ascent-color);
}

svg .analytics-chart-text {
    font-family: monospace;
    font-size: 10px;
}

.adminextra-content-row-posts {
    max-height: 200px;
    overflow-y: scroll;
    text-overflow: ellipsis;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    margin: auto;
    max-width: var(--width);
    padding: var(--component-padding);
    background-color: var(--bg);
    color: var(--text-color);
}

dt {
    font-weight: bold;
    padding: 10px 0px 10px 0px;
}

article header {
    margin-top: var(--component-padding);
    margin-bottom: var(--component-padding);
    border-bottom: 1px solid var(--text-color);
}

article header > h1 {
    margin-bottom: 0.1rem;
}

article header > p {
    margin: 0.1rem;
}

blockquote {
    border: 1px solid var(--text-color);
    border-left: 6px solid var(--text-color);
    margin: 2rem 0;
    padding: calc(var(--component-padding) / 2);
}

blockquote p {
    margin: 0;
}

a {
    color: var(--primary);
}

a:visited {
    color: var(--primary);
    filter: brightness(85%);
}

a:hover {
    text-decoration: none;
}

.page-header {
    margin-bottom: calc(var(--component-padding) * 2);
}

.page-header h1 {
    margin-bottom: 0.1rem;
    font-size: inherit;
}

.page-list {
    list-style-type: none;
    padding: unset;

    & h3 {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    & li {
        margin-bottom: calc(var(--component-padding) / 2);
    }
}

code {
    font-size: 1rem;
    background: var(--secondary-bg);
    padding: 0 0.3rem;
}

pre {
    padding: 10px;
    overflow-x: auto;
    background-color: var(--secondary-bg);
    border: solid 1px var(--text-color);

    & code {
        font-size: inherit;
        padding: 0;
        background: none;
    }
}

pre .c, pre .c1, pre .cm {
    color: #707070;
    font-style: italic;
}

@media (prefers-color-scheme: dark) {
    pre .c, pre .c1, pre .cm {
        color: #999;
    }
}

pre .gd {
    color: var(--red-color);
    background-color: var(--lighter-red-color);
}

pre .gi {
    color: var(--green-color);
    background-color: var(--lighter-green-color);
}

pre .gu {
    color: var(--purple-color);
}

pre .k, pre .kd, pre .kn, pre .kr, pre .nt, pre .nb, pre .gh {
    color: #008;
}

@media (prefers-color-scheme: dark) {
    pre .k, pre .kd, pre .kn, pre .kr, pre .nt, pre .nb, pre .gh {
        color: #69f;
    }
}

pre .cp {
    color: #222;
    font-weight: bold;
}

@media (prefers-color-scheme: dark) {
    pre .cp {
        color: #db8;
    }
}

pre .kt {
    color: #44f;
}

@media (prefers-color-scheme: dark) {
    pre .kt {
        color: #3cf;
    }
}

pre .s, pre .s2, pre .sd, pre .s1 {
    color: var(--code-literal);
    font-style: italic;
}

pre .no {
    color: var(--code-literal);
}

pre .mi, pre .kc {
    color: var(--code-literal);
}

main img {
    display: block;
    margin: 0.5rem auto;
    max-width: 85%;
}

@media (max-width: 480px) {
    main img {
        max-width: 100%;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    margin: 10px 0px 10px 0px;
}

table th {
    background: var(--secondary-bg);
    font-weight: bold;
}

table tbody tr:nth-child(even) {
    background: var(--secondary-bg);
}

table td, table th {
    border-bottom: 1px solid black;
    padding: 0px 5px 0px 5px;
}

ol li {
    line-height: 1.3;
}

ol li:not(:last-child) {
    margin-bottom: 0.35rem;
}

footer nav ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

footer nav ul li {
    display: inline-block;
}

figure {
    margin: 0 auto;
    width: 60%;
}

figure img {
    display: block;
    margin: 0.5rem auto;
    max-width: 80%;
}

figure figcaption {
    margin: auto;
    width: 90%;
    text-align: center;
    font-size: 0.8rem;
}

@media (prefers-color-scheme: dark) {
    figure figcaption {
        color: #555;
    }
}

@media (max-width: 768px) {
    figure figcaption {
        width: 75%;
    }
}

@media (max-width: 768px) {
    figure {
        width: 90%;
    }
}

.dashboard-section {
    & ul {
        list-style: none;
        padding: unset;
        margin: 0;

        & li {
            padding-bottom: calc(var(--component-padding) / 3);
        }
    }

    & h2 {
        margin-top: calc(var(--component-padding) / 2);
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.blog {
    & .blog-title {
      margin-bottom: 0;
    }
    & .blog-pages {
        & ul {
            list-style: none none;
            margin: 0;
            padding: unset;
            & li {
                display: inline;
                padding-right: calc(var(--component-padding) / 4);
            }
        }
        & li:not(:last-child)::after {
            padding-left: calc(var(--component-padding) / 4);
            content: " |";
        }
    }
}