{{ define "title" }}
  {{ .Title }}
{{ end }}

{{ define "main" }}
  <article>
    <header>
      <h1>{{ .Title | title }}</h1>
      <p><a href="{{.Site.BaseURL}}/{{.Section}}/atom.xml">RSS feed</a></p>
    </header>

    <ul class="page-list">
      {{ range .Data.Pages  }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        <small>
          — <<time datetime="{{ dateFormat "January 2, 2006" .Date }}" itemprop="datePublished">{{ dateFormat "January 2, 2006" .Date }}</time>
        </small>
      </li>
      {{ end  }}
    </ul>
  </article>
{{ end }}