{% extends 'main/layout.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<main>
    <h1>Forgot your password?</h1>
    <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
      <form method="POST">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <aside class="flash error">
            <span class="text">{{ form.non_field_errors }}</span>
        </aside>
        {% endif %}

        <div class="field">
            <label for="id_email">{{ form.email.label }}
                <span class="hint">{{ form.email.help_text }}</span></label>
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <span class="form-error">{{ error|escape }}</span><br>
                {% endfor %}
            {% endif %}
            {{ form.email }}
        </div>

        <input type="submit" value="Send me instructions!">
    </form>
</main>
{% endblock %}
