{% extends 'main/layout.html' %}

{% block title %}Import posts — {{ request.user.username }} at Mataroa{% endblock %}

{% block content %}
<main>
    <h1>Import posts</h1>
    <p>
        Mataroa allows you to import text/markdown files.
    </p>
    <ul>
        <li>You can choose multiple files at once.</li>
        <li>They will be uploaded as drafts (unpublished).</li>
    </ul>
    <form method="post" enctype="multipart/form-data">
        {% if form.non_field_errors %}
        <aside class="flash error">
            <span class="text">{{ form.non_field_errors }}</span>
        </aside>
        {% endif %}

        <div class="field">
            <label for="id_file">Files
                <span class="hint">Select one or more text/markdown files.</span></label>
            {% if form.file.errors %}
                {% for error in form.file.errors %}
                    <span class="form-error">{{ error|escape }}</span><br>
                {% endfor %}
            {% endif %}
            <input type="file" name="file" id="id_file" multiple required>
        </div>

        {% csrf_token %}
        <input type="submit" value="Upload">
    </form>
</main>
{% endblock %}
