{% extends 'main/layout.html' %}

{% block title %}Dashboard — {{ request.user.username }} at Mataroa{% endblock %}

{% block content %}
    <main>
        <h1>Dashboard</h1>
        <p class="dashboard-cta">
            <a href="{% url 'post_create' %}"><b>New post »</b></a>
        </p>

        <section class="dashboard-section">
            <h2>Content</h2>
            <ul>
                <li><a href="{% url 'image_list' %}">Images</a></li>
                <li><a href="{% url 'page_list' %}">Pages</a></li>
                {% if request.user.notifications_on %}
                    <li><a href="{% url 'notificationrecord_list' %}">Newsletter</a></li>
                {% endif %}
                <li><a href="{% url 'analytic_list' %}">Analytics</a></li>
                {% if request.user.post_backups_on %}
                    <li><a href="{% url 'snapshot_list' %}">Post Backups</a></li>
                {% endif %}
            </ul>
        </section>

        <section class="dashboard-section">
            <h2>Manage</h2>
            <ul>
                <li><a href="{% url 'webring' %}">Webring</a></li>
                <li><a href="{% url 'api_docs' %}">API</a></li>
                <li><a href="{% url 'blog_import' %}">Import posts</a></li>
                <li><a href="{% url 'export_index' %}">Export blog</a></li>
            </ul>
        </section>

        <section class="dashboard-section">
            <h2>Account</h2>
            <ul>
                <li><a href="{% url 'user_update' %}">Blog settings</a></li>
                <li><a href="{% url 'password_change' %}">Change password</a></li>
                <li><a href="mailto:admin@capivaras.dev">Help and support</a></li>
                <li>
                    <form method="post" action="{% url 'logout' %}" class="form-inline">
                        {% csrf_token %}
                        <input type="submit" value="Log out">
                    </form>
                </li>
            </ul>
        </section>

        {% if request.user.is_superuser %}
            <section class="dashboard-section">
                <h2>Administration</h2>
                <ul>
                    <li><a href="{% url 'admin:index' %}">Django Admin</a></li>
                    <li><a href="{% url 'adminextra_user_list' %}">Adminextra List Users</a></li>
                    <li><a href="{% url 'adminextra_user_cards' %}">Adminextra Cards</a></li>
                </ul>
            </section>
        {% endif %}
    </main>
{% endblock %}
