{% extends 'main/layout.html' %}

{% block title %}Editing {{ form.name.value }} image — {{ request.user.username }} at Mataroa{% endblock %}

{% block content %}
<main>
    <h1>Editing image</h1>

    <form method="post">
        {% if form.non_field_errors %}
        <aside class="flash error">
            <span class="text">{{ form.non_field_errors }}</span>
        </aside>
        {% endif %}

        <div class="field">
            <label for="id_name">{{ form.name.label }}</label>
            {% if form.name.errors %}
                {% for error in form.name.errors %}
                    <span class="form-error">{{ error|escape }}</span><br>
                {% endfor %}
            {% endif %}
            {{ form.name }}
        </div>

        {% csrf_token %}
        <input type="submit" value="Save">
    </form>
</main>
{% endblock %}

{% block scripts %}
<script>
    document.querySelector('input[name="name"]').focus();
</script>
{% endblock %}
