{% extends 'main/layout.html' %}

{% block title %}{{ instance_name }}{% endblock %}

{% block content %}
<main>
    <h1>{{ instance_name }}</h1>
    <p>{{ instance_description }}</p>

    <img src="static/capybara.jpg" alt="A capybara." style="display: inline" width="100"/>

    <hr>
    <h2>Latest Posts</h2>

    <section>
        <ul class="page-list">
        {% for p in posts %}
        {% if p.published_at %}
        <li>
          <h3><a href="{{ p.get_proper_url }}">{{ p.title }}</a></h3>
          <small>
              <time datetime="{{ p.published_at|date:'Y-m-d' }}" itemprop="datePublished">{{ p.published_at|date:'F d, Y' }}</time>
              {% if not p.is_published %}
                — SCHEDULED
              {% endif %} by <a href="{{ p.owner.blog_url }}">{{ p.owner.blog_title }}</a>
          </small>
        </li>
        {% endif %}
        {% endfor %}
        </ul>
    </section>
</main>
{% include 'partials/footer.html' %}
{% endblock %}

{% block footer %}
    <p>
        Visit our <a href="https://news.capivaras.dev">announcements blog</a> for updates.
    </p>
    <p>
        Are you concerned about our business model?
        Check the <a href="{% url 'transparency' %}">transparency page</a> and see for yourself how bad it is!
    </p>
{% endblock %}