{% extends 'main/layout.html' %}

{% block title %}Email newsletter — {{ blog_user.username }} at Mataroa{% endblock %}

{% block content %}
<main>
    {% if blog_user.blog_title %}
    <a href="{% url 'index' %}" class="pages-item-brand">{{ blog_user.blog_title }}</a>
    {% endif %}

    <h1>Email newsletter</h1>
    <p>Receive an email when a new post is published.</p>
    <form method="post">
        {% if form.non_field_errors %}
        <aside class="flash error">
            <span class="text">{{ form.non_field_errors }}</span>
        </aside>
        {% endif %}

        <div class="field">
            <label for="id_email">{{ form.email.label }}
                <span class="hint">{{ form.email.help_text }}</span></label>
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <span class="form-error">{{ error|escape }}</span><br>
                {% endfor %}
            {% endif %}
            {{ form.email }}
        </div>

        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>

    <br>
    <p>
        Or to stop receiving emails,
        <a href="{% url 'notification_unsubscribe' %}">unsubscribe</a>.
    </p>
</main>
{% endblock %}
