{% extends 'main/layout.html' %}

{% block title %}{{ page.title}} — {{ blog_user.blog_title }}{% endblock %}

{% block meta_description %}{{ page.body|truncatewords:16 }}{% endblock %}

{% block content %}
<main>
    <article>
        <header>
            <h1>{{ page.title }}</h1>

            {% if request.user.is_authenticated and request.subdomain == user.username %}
            <div>
                Last updated on <time datetime="{{ page.updated_at|date:'Y-m-d' }}">{{ page.updated_at|date:'F d, Y' }}</time>
                | <a href="{% url 'page_update' page.slug %}">Edit page</a>
                | <a href="{% url 'page_delete' page.slug %}" class="type-delete">Delete</a>
            </div>
            {% endif %}
        </header>

        <div class="pages-item-body">
            {{ page.body_as_html|safe }}
        </div>
    </article>
</main>

{% include 'partials/webring.html' %}

{% include 'partials/footer_blog.html' %}

{% endblock %}

{% block scripts %}
{% endblock %}
