{% extends 'main/layout.html' %}

{% block title %}{{ post.title}} — {{ blog_user.blog_title }}{% endblock %}

{% block meta_description %}{{ post.body_as_text|truncatewords:16 }}{% endblock %}

{% block content %}
<main>
    <article itemscope itemtype="http://schema.org/BlogPosting">
        <header>
          <h1>{{ post.title }}</h1>
          <p>
            {% if post.published_at and post.is_published %}
            <time datetime="{{ post.published_at|date:'Y-m-d' }}" itemprop="datePublished">{{ post.published_at|date:'d M Y' }}</time>
            {% elif post.published_at and not post.is_published %}
            SCHEDULED for <time datetime="{{ post.published_at|date:'Y-m-d' }}" itemprop="datePublished">{{ post.published_at|date:'d M Y' }}</time>
            {% else %}
            DRAFT — Last updated on <time datetime="{{ post.updated_at|date:'Y-m-d' }}" itemprop="dateModified">{{ post.updated_at|date:'d M Y' }}</time>
            {% endif %}
            {% if request.user.is_authenticated and request.subdomain == request.user.username %}
            | <a href="{% url 'post_update' post.slug %}">Edit post</a>
            | <a href="{% url 'post_delete' post.slug %}" class="type-delete">Delete</a>
            {% endif %}
          </p>
        </header>

        <div class="posts-item-body" itemprop="articleBody">
            {{ post.body_as_html|safe }}
        </div>
    </article>
</main>

{% include 'partials/webring.html' %}

{% include 'partials/footer_blog.html' %}

{% endblock %}

{% block scripts %}
{% endblock %}
