{% extends 'main/layout.html' %}

{% block title %}Sign up{% endblock %}

{% block head_viewport %}
<meta name="viewport" content="width=device-width, user-scalable=no">
{% endblock %}

{% block content %}
<main>
    <h1>Sign up to start your blog</h1>

    <form method="post">
        {% if form.non_field_errors %}
        <aside class="flash error">
            <span class="text">{{ form.non_field_errors }}</span>
        </aside>
        {% endif %}

        <div class="field">
            <label for="id_username">{{ form.username.label }}
                <span class="hint">{{ form.username.help_text }}</span></label>
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <span class="form-error">{{ error|escape }}</span><br>
                {% endfor %}
            {% endif %}
            {{ form.username }}
        </div>

        <div class="field">
            <label for="id_email">{{ form.email.label }}
                <span class="hint">{{ form.email.help_text }}</span></label>
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <span class="form-error">{{ error|escape }}</span><br>
                {% endfor %}
            {% endif %}
            {{ form.email }}
        </div>

        <div class="field">
            <label for="id_password1">{{ form.password1.label }}
                <span class="hint">{{ form.password1.help_text }}</span></label>
            {% if form.password1.errors %}
                {% for error in form.password1.errors %}
                    <span class="form-error">{{ error|escape }}</span><br>
                {% endfor %}
            {% endif %}
            {{ form.password1 }}
        </div>

        <div class="field">
            <label for="id_password2">{{ form.password2.label }}
                <span class="hint">{{ form.password2.help_text }}</span></label>
            {% if form.password2.errors %}
                {% for error in form.password2.errors %}
                    <span class="form-error">{{ error|escape }}</span><br>
                {% endfor %}
            {% endif %}
            {{ form.password2 }}
        </div>

        {% csrf_token %}

        <input type="submit" value="Sign up">
    </form>
</main>
{% endblock %}
