<hr>
<footer>
    <nav>
        <ul>
            <a href="/">« {{ blog_user.blog_title }}</a> |
            <a href="{% url 'rss_feed' %}">RSS</a> / <a href="{% url 'atom_feed' %}">Atom</a>
            {% if blog_user.notifications_on %}
            | <a href="{% url 'notification_subscribe' %}">Newsletter</a>
            {% endif %}
        </ul>
    </nav>

    <p>
        {% if blog_user.footer_note %}
            {{ blog_user.footer_note_as_html|safe }}
        {% endif %}
    </p>
</footer>